/* TABS */
li[role="tab"][type="definition"] {
  background-color: rgba(0, 162, 255, 0.2);
  border-bottom-right-radius: 0pt;
  border-bottom-left-radius: 0pt;
}
li[role="tab"][type="definition"]:hover {
  background-color: rgba(0, 162, 255, 0.4);
}
li[role="tab"][type="definition"][aria-selected="true"] {
  border-color: transparent;
  background-color: rgba(0, 162, 255, 0.15);
  color: rgba(0, 162, 255, 0.6);
}
div[data-type="definition"] {
  background-color: rgba(0, 162, 255, 0.2);
  margin-top: -1rem;
  padding: 1rem;
  border-radius: 5pt;
  border-top-left-radius: 0pt;
}

li[role="tab"][type="proposition"] {
  background-color: rgba(255, 191, 0, 0.2);
  border-bottom-right-radius: 0pt;
  border-bottom-left-radius: 0pt;
}
li[role="tab"][type="proposition"]:hover {
  background-color: rgba(255, 191, 0, 0.4);
}
li[role="tab"][type="proposition"][aria-selected="true"] {
  border-color: transparent;
  background-color: rgba(255, 191, 0, 0.15);
  color: rgba(255, 191, 0, 0.6);
}
div[data-type="proposition"] {
  background-color: rgba(255, 191, 0, 0.2);
  margin-top: -1rem;
  padding: 1rem;
  border-radius: 5pt;
  border-top-left-radius: 0pt;
}

li[role="tab"][type="theorem"] {
  background-color: rgba(255, 0, 0, 0.2);
  border-bottom-right-radius: 0pt;
  border-bottom-left-radius: 0pt;
}
li[role="tab"][type="theorem"]:hover {
  background-color: rgba(255, 0, 0, 0.4);
}
li[role="tab"][type="theorem"][aria-selected="true"] {
  border-color: transparent;
  background-color: rgba(255, 0, 0, 0.15);
  color: rgba(255, 0, 0, 0.6);
}
div[data-type="theorem"] {
  background-color: rgba(255, 0, 0, 0.2);
  margin-top: -1rem;
  padding: 1rem;
  border-radius: 5pt;
  border-top-left-radius: 0pt;
}

li[role="tab"][type="proof"] {
  background-color: rgba(71, 71, 71, 0.2);
  border-bottom-right-radius: 0pt;
  border-bottom-left-radius: 0pt;
}
li[role="tab"][type="proof"]:hover {
  background-color: rgba(71, 71, 71, 0.4);
}
li[role="tab"][type="proof"][aria-selected="true"] {
  border-color: transparent;
  background-color: rgba(71, 71, 71, 0.15);
  color: rgba(71, 71, 71, 0.6);
}
div[data-type="proof"] {
  background-color: rgba(71, 71, 71, 0.2);
  margin-top: -1rem;
  padding: 1rem;
  border-radius: 5pt;
  border-top-left-radius: 0pt;
}

li[role="tab"][type="exercise"] {
  background-color: rgba(0, 255, 90, 0.2);
  border-bottom-right-radius: 0pt;
  border-bottom-left-radius: 0pt;
}
li[role="tab"][type="exercise"]:hover {
  background-color: rgba(0, 255, 90, 0.4);
}
li[role="tab"][type="exercise"][aria-selected="true"] {
  border-color: transparent;
  background-color: rgba(0, 255, 90, 0.15);
  color: rgba(0, 255, 90, 0.6);
}
div[data-type="exercise"] {
  background-color: rgba(0, 255, 90, 0.2);
  margin-top: -1rem;
  padding: 1rem;
  border-radius: 5pt;
  border-top-left-radius: 0pt;
}

li[role="tab"][type="tips"] {
  background-color: rgba(255, 0, 200, 0.2);
  border-bottom-right-radius: 0pt;
  border-bottom-left-radius: 0pt;
}
li[role="tab"][type="tips"]:hover {
  background-color: rgba(255, 0, 200, 0.4);
}
li[role="tab"][type="tips"][aria-selected="true"] {
  border-color: transparent;
  background-color: rgba(255, 0, 200, 0.15);
  color: rgba(255, 0, 200, 0.6);
}
div[data-type="tips"] {
  background-color: rgba(255, 0, 200, 0.2);
  margin-top: -1rem;
  padding: 1rem;
  border-radius: 5pt;
  border-top-left-radius: 0pt;
}

/* ADMONITIONS */

.podcast {
  border-left: 5px solid yellow;
  background-color: rgb(250, 250, 234);
}
